.App {
  text-align: center;
}

.button:hover {
background: #7880B5;
color: #C0A9B0
}

.grid{
  margin-left: 20%;
  
}

h1 {
  font-family: 'Bangers', cursive;
  letter-spacing: .5em;
  font-size: 4em;
  color: #6987C9;
}
p{
  font-family: 'Montserrat', sans-serif;
  width: 59%;
  text-align: center;
  margin-left: 20%;
  color: #7880B5;
}
body{
  background: #6BBAEC;
}